*{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}
div {
	padding: 40px 20px 70px 100px ;
	border-top: #9900FF 20px solid;
 	border-right: #9900FF 5px solid;
 	border-bottom: #9900FF 20px solid;
 	border-left: #9900FF 5px solid;
 	background: #F9CB9C;
}
p{
	border: #548230 1px dashed;
	background: white;
	padding: 10px;
	text-align: center;
}