.padre {
	padding: 40px 20px 70px 100px;
	border: 20px solid #9900FF;
 	border-right: #9900FF 10px solid;
 	border-left: #9900FF 10px solid;
 	background-color: #F9CB9C;
 	margin: 120px 60px 30.5px 60px;
}
.hijo{
	border: #548230 2px dashed;
	background-color: white;
	text-align: center;
	height: 50px;
	line-height: 50px;
}